/* THIS CSS FILE IS LINKED TO LOCAL USER REGISTRATION AND FOREIGN REGISTRATION HTML */

/* ERROR BORDER */
.infodiv.success input {
  border-color: #2ecc71;
}

.infodiv.error input {
  border-color: #e74c3c;
}

body {
  font-family: 'PT Sans', sans-serif !important;
  background-color: #c1ebe2;
  padding-bottom: 5rem;
}

.hovclass:hover {
  color: #2f5a62 !important;
}

.logo-photo {
  width: 35px;
  height: 40px;
}

/* NAVIGATION BAR */
.navbar {
  background-color: #c1ebe2 !important;
}

.navbar-nav {
  flex-direction: column;
  margin-left: 0;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  color: #2f5a62 !important;
  font-size: calc(23% + 1vw + 1vh);
}

.nav-link {
  font-weight: bold;
  color: #669591 !important;
  margin-right: 2rem;
}

.active {
  color: #2f5a62 !important;
}

.btn {
  background-color: #2f5a62;
  color: white;
  font-weight: bold;
  width: 135px;
  height: 24px;
  font-size: 11px;
  line-height: 0.5;
  border-radius: 20px 20px 20px 20px;
}

.btn:hover {
  background-color: #c1ebe2;
  color: #2f5a62;
  border: 2px solid #2f5a62;
  font-weight: bold;
}

/* FORM PART */
.container {
  background-color: white;
  margin-top: 2rem;
  padding: 3rem 3rem;
}

.header {
  margin-bottom: 1rem;
}

h2 {
  font-weight: bold;
  color: #2f5a62;
  font-size: 25px;
  margin-bottom: 2rem;
}

.row {
  justify-content: center;
}

/* SECOND ROW */
.srow {
  margin-top: 2rem;
}

.labelings {
  margin-top: 1rem;
}

/* BUTTONS */
.send-btn {
  background-color: #2f5a62;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border-radius: 6px 6px 6px 6px;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.send-btn:hover {
  background-color: #c1ebe2;
  cursor: pointer;
  color: #2f5a62;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 23px;
  }
}

@media only screen and (max-width: 430px) {
  .pl-5, .px-5 {
    padding-left: 2rem !important;
  }

  .navbar-brand {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0rem;
  }

  .nav-link{
    margin-right: 0rem;
    font-size: 15px;
  }
}

@media only screen and (max-width: 380px) {
  .navbar-brand {
    font-size: 15px;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .pl-5, .px-5 {
    padding-left: 2rem !important;
  }

  h2 {
    font-size: 15px;
    margin-bottom: 0rem;
  }

  .nav-link{
    margin-right: 0rem;
    font-size: 13px;
  }
}

@media only screen and (max-width: 320px) {
  .labelings{
    font-size: 13px;
  }
  .nav-link{
    margin-right: 0rem;
    font-size: 10px;
  }
  .navbar {
    padding-left: 1rem !important;
  }

  .navbar-brand {
    font-size: 13px;
    position: relative;
    left: 10px;
  }

  .container {
    padding: 3rem;
  }

  h2 {
    font-size: 12px;
  }

  .send-btn{
    font-size: 13px;
  }

  .form-control {
    font-size: 10px;
  }
}
